In [1]:
people = {
    'first': ['Dinesh', 'Hardik', 'Bishnu'],
    'last': ['Paudel', 'Paudel', 'Dhakal'],
    'email': ['dnespaudel@gmail.com', 'hardikkhanl@gmail.com', 'bishnudhakal@gmail.com']
}

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(people)

In [4]:
df

    first    last                   email
0  Dinesh  Paudel    dnespaudel@gmail.com
1  Hardik  Paudel   hardikkhanl@gmail.com
2  Bishnu  Dhakal  bishnudhakal@gmail.com

In [5]:
df['last']

0    Paudel
1    Paudel
2    Dhakal
Name: last, dtype: object